html {
  font-family: 'Myriad ProKaz', 'Myriad Pro', Verdana, 'Tahoma', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

div {
  font-size: 13px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
