.grid {
  position: relative;

  .hlt {
    border: 1px solid #bbb;
  }

  table {
    transform: translateZ(0); // chrome flickering fix
  }

  td.data {
    overflow: hidden;
    padding-right: 0 !important; // TODO move to js

    .wrap {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 100%;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 90%, #ffffff 100%);
        pointer-events: none;
      }
    }
  }

  tr.selected {
    td.data {
      .wrap:after {
        // TODO color from theme
        background-image: linear-gradient(
          to right,
          rgba(221, 221, 221, 0) 0%,
          rgb(221, 221, 221) 90%,
          rgb(221, 221, 221) 100%
        );
      }
    }
  }

  tr:hover,
  tr.selected:hover {
    td.data {
      .wrap:after {
        // TODO color from theme
        background-image: linear-gradient(
          to right,
          rgba(204, 204, 204, 0) 0%,
          rgb(204, 204, 204) 90%,
          rgb(204, 204, 204) 100%
        );
      }
    }
  }

  tbody {
    transition: opacity 0.2s;
    transition-delay: 0.15s;
  }

  tbody.disabled {
    opacity: 0.5;
    pointer-events: none !important;

    input {
      pointer-events: none !important;
    }
  }

  thead .sortable {
    .order {
      display: inline-block;
      vertical-align: top;
      opacity: 0;

      > svg {
        transition: transform 0.3s, opacity 0.25s;
      }

      &.desc svg {
        transform: rotate(180deg);
      }

      &.asc svg {
        transform: rotate(0deg);
      }
    }

    &:hover {
      .order {
        opacity: 0.3;
      }
    }

    &.active {
      .order {
        opacity: 1;
      }
    }

    .sorter {
      cursor: pointer;
    }
  }

  // progress
  div[mode='indeterminate'] {
    left: 0;
    right: 0;
    top: 54px;
    z-index: 1;

    opacity: 0;
    transition: opacity 0.2s;
    transition-delay: 0.1s;
  }

  &.loading div[mode='indeterminate'] {
    opacity: 0.9;
  }

  .paging {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > div {
      opacity: 0.7;
      margin-left: 16px;
      &:last-child {
        margin-left: 0;
      }
    }

    .window {
      margin-right: 8px;
      width: 70px;
      text-align: center;
    }
  }
}

.grid-filter {
  position: relative;

  // progress
  div[mode='indeterminate'] {
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

    opacity: 0;
    transition: opacity 0.2s;
    transition-delay: 0.1s;
  }

  &.loading {
    opacity: 0.5;
    pointer-events: none !important;

    input {
      pointer-events: none !important;
    }

    div[mode='indeterminate'] {
      opacity: 0.9;
    }
  }

  .padder {
    padding: 0 8px 8px 24px;
  }

  background-color: rgba(246, 120, 40, 0.1); // TODO to skin

  box-sizing: border-box;
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow: hidden;
  &.open {
    max-height: 1000px;
    transition: max-height 0.3s ease-in;
  }
}
