.btn-header-vc {
  margin-top: 10px;
  margin-left: 20px;
  height: 40px;
  background-color: #f67828;
}

.btn-header-disabled {
  background-color: #8c8c8c;
}

.eds-content {
  width: 100%;
}

.eds-content-row {
  /*border: 1px solid red;*/
  width: 100%;
  height: 35px;
  margin-top: 20px;
  position: relative;
}

.eds-content-row-label {
  width: 40%;
  margin-right: 3%;
  display: inline-block;
}

.eds-content-row-next {
  width: 57%;
  display: inline-block;
  /*border: 1px solid yellow;*/
}

.eds-label {
  /*border: 1px solid red;*/
  font-size: 18px;
  display: inline-block;
  width: 100%;
  padding: 5px;
}

.eds-select {
  /*border: 1px solid blue;*/
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 5px;
}

.eds-pass {
  /*border: 1px solid green;*/
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 5px;
}

.eds-request-cert-btn {
  /*border: 1px solid green;*/
  width: auto;
  display: block;
  font-size: 18px;
  position: absolute;
  height: 100%;
}
