.viewHeader {
  padding: 16px 8px 16px 24px;
  display: flex;

  align-items: stretch;

  .text {
    font-size: 20px;
    padding: 8px 0;
    flex-grow: 1;
  }

  .buttons button {
    padding: 0 !important;
    height: 100% !important;
    svg {
      color: rgb(102, 102, 102) !important; // TODO take from theme
    }
  }
}

.details {
  position: relative;

  // progress
  div[mode='indeterminate'] {
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

    opacity: 0;
    transition: opacity 0.2s;
    transition-delay: 0.1s;
  }

  &.loading {
    opacity: 0.5;
    pointer-events: none !important;

    input {
      pointer-events: none !important;
    }

    div[mode='indeterminate'] {
      opacity: 0.9;
    }
  }

  .field-group {
    padding: 0 20px 20px 20px;

    &.attributes {
      background-color: rgba(200, 128, 128, 0.1);
    }

    &.state {
      background-color: rgba(128, 200, 128, 0.1);
    }
  }

  .field-row {
    display: flex;

    > div {
      margin-right: 48px;
    }
  }

  .button-row {
    padding: 20px;
    display: flex;
  }
}
