.selectedFilesHolder {
  margin-bottom: 10px;
}

button.chooseFile {
  background-color: #002e64;
  border: 1px solid #00244f;
  color: #fff;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  width: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fileStatusIcon {
  margin-bottom: -2px;
  margin-right: 5px;
}
