.message-filter {
  padding: '10px 15px';
  border: '1px dashed #ccc';
  margin: '0px 15px 0px 0px';

  .filter-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

    .filter-element + .filter-element {
      margin-left: 40px;
    }

    .filter-element {
      .period-group {
        display: flex;

        .period-button + .period-button {
          margin-left: 25px;
        }

        & > div.period-button {
          display: flex !important;
          width: unset !important;

          input {
            width: unset !important;
          }

          & > div {
            width: unset !important;

            label {
              width: unset !important;
            }
          }
        }
      }
    }
  }
}
