.infinite-scroll-select-wrapper {
  $root: &;

  width: 100%;
  position: relative;

  ::-webkit-scrollbar {
    width: 11px;
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 5px;
    background-color: #808080;
  }

  // Блок инпута
  &__search-wrapper {
    width: 100%;
    height: 35px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 8px 16px;

    #{$root}__search-input {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      padding: 0;

      font-weight: 400;
      font-size: 14px;
      line-height: 19px;

      color: #202020;
    }

    #{$root}__search-arrow {
      &:before {
        content: '';
        position: absolute;
        top: 14px;
        right: 8px;
        border-top: 8px solid #007d94;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        transition: all 0.5s ease;
      }

      &.open {
        &:before {
          transform: rotate(180deg);
        }
      }
    }
  }

  // Блок выпадающего списка
  &__dropdown {
    display: block;
    height: auto;
    width: 100%;
    min-width: 300px;
    list-style: none;
    z-index: 999;

    overflow: auto;
    overflow-x: hidden;

    border: 1px solid #aaaaaa;
    border-radius: 5px;

    margin-top: 35px;
    padding: 0;

    background: #ffffff;
    color: #000;

    position: absolute;
    left: 0px;
    top: 2px;

    #{$root}__dropdown-item + #{$root}__dropdown-item {
      margin-top: 8px;
    }

    #{$root}__dropdown-item {
      display: flex;
      flex-direction: column;
      padding: 0 16px;
      margin: 0;

      &:hover {
        background-color: #e8e8e8;
        cursor: pointer;
      }

      #{$root}__dropdown-item-label {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #202020;
      }

      #{$root}__dropdown-item-description {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #7d7d7d;
      }
    }
  }
}
