.draggableList {
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0.25rem;
  border: solid 1px rgb(221, 221, 221);
}

.item:hover {
  cursor: pointer;
}

.item {
  display: flex;
  font-family: sans-serif;
  background-color: #eeeeee;
  border-radius: 0.25rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  opacity: 1;
}

.item .title {
  font-size: 15px;
  margin: 7px 0 0 0;
}

.item .icon {
  text-align: right;
  white-space: nowrap;
  margin-top: 3px;
  margin-right: 7px;
}

.dragged .item {
  opacity: 0.1;
}

.floating .item {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 2rem #666666;
}

.item .body {
  margin-left: 7px;
  flex-grow: 2;
}
